*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.header-box{
    width: 100%;
    height: 50px;
    background-color:#11233C ;
    border-bottom: 0.5px solid#3E4160 ;
    }
    .hd-container{
        width: 1050px;
        margin: 0 auto;
    }
    .hd-row{
        display: flex;
        justify-content: space-between;
    }
    .hd-col-12{
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: space-between;
        padding: 15px 0px;
    }
    .left-ul ul{
    display: flex;
    }
    .left-ul li{
        color: #fff;
        display: inline-block;
        margin-right: 45px;
        font-family: "Barlow",sans-serif;
        font-size: 14px;
    }
    .right-ul-social ul{
    display: flex;
    }
    .right-ul-social li a{
        color: #fff;
        font-size: 14px;
        padding-left: 25px;
        cursor: pointer;
        color: #DBDDE0;
    }
    .right-ul-social a:hover{
    color:#FF5F13 ;
    }
    .main-menu{
        width: 100%;
        height: 100px;
        background-color: #16263E;
        }
        .mm-container{
            width: 1200px;
            margin: 0 auto;
          
        }
        .mm-row{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .mm-col-2{
            width: 16.66%;
        }
        .mm-col-8{
            width: 66.66%;
            text-align: center;
            align-items: center;
            margin: 20px;
            cursor: pointer;
        }
        .mm-menu{
            display: flex;
            justify-content: space-around;
            margin: 20px 0px;
            align-items: center;
            font-style: normal;
            position: relative;
        }
        .mm-menu ul{
            display: flex;
            color:#F3F3F5 ;
            font-size: 17px;
        }
        .mm-menu ul a{
            color: #fff;
        }
        .mm-menu ul a:hover{
            color: #ff5f13;
        }
        
        .nm-menu li :hover .mini-ul-menu-1 li{
            opacity: 1;
            color: #ff5f13;
        }
        .mini-ul-menu {
            position: absolute;
            border-top: 6px solid #ff5f13;
            top: 59px;
            left: 500px;
            background: white;
            width: 160px;
            height: 133px;
            color: grey;
            font-size: 15px;
            transition: all .8s ease;
            opacity: 0;
            cursor: pointer;
        }
        .nm-menu :hover .mini-ul-menu {
            opacity: 1;
            color: #ff5f13;
        }
        .mm-menu li:hover .menu{
            color: red;
        }
        
        .mm-col-2 a i{
            padding: 25px 22px;
            font-size: 14px;
            color: #FFF;
            font-weight: 500;
            background: #ff5f13;
            cursor: pointer;
            text-transform: uppercase;
            display: inline-block;
            letter-spacing: 1px;
            line-height: 0;
            margin-bottom: 0;
            transition: color;
            transition: color 0.4s linear;
            position: relative;
            z-index: 1;
            border: 0;
            overflow: hidden;
            margin: 0;
            border-radius: 5px;
            text-align: center;
            vertical-align: middle;
            font-style: normal;
        }
        .img-text-box{
            width: 100%;
            height: 600px;
            object-fit: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            color: #212529
        }
        .itb-container{
            width: 1200px;
            margin: 0 auto;
        }
        .itb-row{
            display: flex;
            justify-content: space-between;
        }
        .itb-col-12{
            width: 100%; 
        }
        .itb-col-12 img{
            width: 1349px;
            height: 600px;
            object-fit: cover;
            margin-left: -76px;
            position: relative;
        }
        .itb-col-12 h2{
            position: absolute;
            top: 444px;
            font-size: 70px;
            color: rgb(255,255,255);
            font-weight: 800;
            text-transform: uppercase;
            font-family: Barlow,sans-serif;
            line-height: 1.2; 
        }
        .text-link{
            position: absolute;
            top: 536px;
            left: 189px;
            font-size: 17px;
            color: rgb(255,95,19); 
        }
        .itb-col-12 .text-link::before{
            position: absolute;
            content: "";
            width: 90px;
            height: 1.5px;
            background: rgb(255, 95, 19);
            left: -118px;
            top: 52%;
            transform: translateY(-50%);
        }
        .text-and-photo{
            width: 100%;
            height: 460px;
            margin-top: 200px;
            margin-left: 30px;
            }
            .tap-container{
                width: 100%;
            }
            .tap-row{
                display: flex;
                justify-content: space-between;
            }
            .tap-col-6{
                width: 50%;
            }
            
            .tap-col-6 img{
                width: 100%;
                height: 460px;
                object-fit: cover;
            }
            .tap-col-6 h2{
                margin-top: 0px;
                font-style: normal;
                font-size: 100%;
                color: #0e132a;
                font-size: 70px;
                font-weight: 700;
                line-height: 1.2;
                text-transform: uppercase;
                font-family: 'Teko',sans-serif;
                margin-bottom: 50px;
            }
            .tap-col-6 .p-mollit{
                font-size: 17px;
                font-weight: 700;
                color: #0b0b2b;
            }
            .tap-col-6 p{
                font-family: "Barlow",sans-serif;
                font-weight: normal;
                line-height: 24px;
                margin-bottom: 46px;
                margin-top: 0;
            }
            .tap-btn{
                background: #ff5f13;
                cursor: pointer;
                display: inline-block;
                font-weight: 500;
                letter-spacing: 1px;
                padding: 20px 50px;
                margin-bottom: 0;
                transition: color 0.4s linear;
                z-index: 1;
                border: 0;
                overflow: hidden;
                margin: 0;
                border-radius: 5px;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                margin-top: 10px;
            }
            .tap-btn a{
                color: #fff;
            }
            .mens-box-info{
                width: 100%;
                margin-top: 200px;
            }
            .mbi-container{
                width: 1200px;
                margin: 0 auto;
            }
            .mbi-container h1{
                color: rgb(14, 19, 42);
                font-size: 55px;
                font-weight: 800;
                line-height: 1.2;
                text-transform: uppercase;
                font-family: Teko, sans-serif;
            }
            .mbi-row{
                display: flex;
                justify-content: space-between;
                margin-top: 55px;
            }
            .mbi-col-4{
                width: 33.33%;
            }
            .mbi-col-4 h2{
                color: #0E132A;
                margin-top: 55px;
            }
            
            .mbi-col-4 span::before {
                position: absolute;
                content: "";
                width: 25px;
                height: 2px;
                left: -30px;
                top: 50%;
                transform: translateY(-50%);
                background: rgb(255, 95, 19);
            }
            .main-finish-page{
                width: 100%;
                height: 500px;
                background:#070B11 ;
                margin-top: 200px;
                }
                .mf-container{
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    margin: 76px 50px;
                }
                .mf-row{
                    display: flex;
                    justify-content: space-between; 
                    align-items: center;
                }
                .col-2 {
                    width: 16.66%;
                    text-align: center;
                }
                
                .col-2 h4{
                    color: #fff;
                    font-size: 35px;
                    margin-bottom: 29px;
                    font-weight: 500;
                    font-family: 'Teko',sans-serif;
                
                }
                .col-2 ul li{
                
                }
                .col-3 {
                    width: 25%;
                    
                }
                .footer-Contact h4{
                    color: #fff;
                    font-size: 35px;
                    margin-bottom: 29px;
                    font-weight: 500;
                    font-family: 'Teko',sans-serif;
                }
                .col-4 {
                    width: 33.33%;
                    align-items: center;
                    text-align: center;
                }
                .footer-form form{
                    position: relative;
                }
                .footer-form input{
                    width: 50%;
                    height: 40px;
                    padding: 10px 20px;
                    border: 0;
                    background: #1e293a;
                    color: #fff;
                    overflow: visible;
                    margin: 0;
                    font-family: inherit;
                    font-size: inherit;
                    line-height: inherit;
                
                }
                .footer-form button{
                    position: absolute;
                    top: 0px;
                    right: 0;
                    border: 0;
                    cursor: pointer;
                    padding: 14px 22px;
                    background: #0a0f17;
                    line-height: 1;
                    color: #fff;
                    text-transform: none;
                    overflow: visible;
                    margin: 0;
                    font-family: inherit;
                    font-size: inherit;
                    border-radius: 0;
                }
