* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: #DEE3E6;
}

.slider-continer {
    width: 1172px;
    margin: 0 auto;
    border: 1px solid grey;
    height: 440px;
    position: relative;
    top: 220px;
    display: flex;
}

.content-slider {
    position: relative;
    display: flex;
    margin: 20px 10px 20px 10px;
}

.slider-main {
    left: 20px;
    top: 250px;
    padding-left: 40px;
}

.slider-box {
    position: relative;
    width: 340px;
    height: 440px;
    cursor: pointer;


}

.slider-box img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: all .8s;

}

.slider-box .slider-img1 {
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: all .8s;


}

.slider-box .slider-img2 {
    object-fit: cover;
    display: none;
    border-radius: 8px;
    transition: all .8s;

}

.slider-box:hover .slider-img1 {
    display: none;
}

.slider-box:hover .slider-img2 {
    display: block;

}

.slider-text {
    background-color: #FFFFFF;
    width: 330px;
    height: 85px;
    position: relative;
    top: -100px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

.slider-text h2 {
    position: absolute;
    left: 20px;
    top: 10px;
}

.slider-text:hover h2 a {
    color: olivedrab;
}

.slider-text h2 a {
    font-family: 'Poppins', 'Arial';
    color: #252525;
    font-size: 15px;
    text-shadow: none;
    line-height: 1.5;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-align: inherit;
    letter-spacing: 1px;

}

.slider-text span {
    font-family: 'Poppins', 'Arial';
    color: #575151;
    font-size: 15px;
    text-shadow: none;
    line-height: 1.5;
    font-style: normal;
    text-decoration: none;
    text-align: inherit;
    letter-spacing: 1px;
    position: absolute;
    right: 40px;
    top: 36px;
    font-size: 19px;
}

.slider-text p {
    font-family: 'Poppins', 'Arial';
    color: #919191;
    font-size: 87.5%;
    text-shadow: none;
    line-height: 1.5;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: inherit;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    position: absolute;
    top: 44px;
    left: 20px;
}
