<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lahiyem</title>
<link rel="stylesheet" href="../../myprojects/Html-Css-Photo/css/repeat.css">
<link rel="stylesheet" href="../css/lahiyem.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://images.app.goo.gl/Ugrub11DzNkquRJ49">

</head>
<body>
    <!--main-header start-->
    <div class="main-header">
        <div class="mh-container">
            <div class="mh-row">
                <div class="col-3-main-header"> <div class="logo">
                    <h1>Kanun</h1></div>
            </div></div>
                <div class="col-9-main-header">
                    <div class="main-header-right">
                         <div class="clock">
                        <h2>8:00 - 9:00</h2>
                        <p>Opening Hour Mon - Fri</p>
                    </div>
                    <div class="phone">
                        <h2>+123 456 7890</h2>
                        <p>Call Us For Free Consultation</p>
                    </div>
                        <div class="social">
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                    </div> </div>
                     </div>
        </div>
        </div>
<!--main-header end-->
<div class="box2-Menu">
    <div class="b2m-container">
        <div class="b2m-row">
            <div class="col-9-b2m">
                <ul class="ul-b2m">
                    <li><a href="#" style="color:#AA813C; font-size:15px;">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">PRACTICE</a></li>
                    <li><a href="#">ATTORNEYS</a></li>
                    <li><a href="#">CASE STUDIES</a></li>
                    <li><a href="#">PAGES</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>
            <div class="col-3-b2m">
               <a href="#"><span>Get Appointment</span></a>
            </div>
        </div>
    </div>
</div>
<!--box4-main start-->
<div class="box4-main">
    <div class="container-fluid-box4">
        <div class="box4-row">
            <div class="col-3-box4">
                <i class="fas fa-check" style="color: #aa9166;
                border: 3px solid #aa9166;
                border-radius: 50%;
                font-size: 20px;
                padding: 4px;
                margin-left: 41%;
                margin-top: 30px;
                margin-bottom: 15px;"></i>
                <h1 style="color:#FFF ; font-family: 'EB Garamond',serif; font-style: italic; font-size: 30px; margin-left: 35%; margin-bottom: 10px;"> Legal</h1>
                <span style="color:#999999 ; font-size: 20px; margin-left: 27%;"> Govt Approved</span>
            </div>
            <div class="col-3-box4">
                <i class="fas fa-user-tie" style="color:#aa9166 ;color: #aa9166;
                font-size: 40px;
                margin-left: 45%;
                margin-top: 30px;
                margin-bottom: 15px; " ></i>
                <h1 style="color: #FFF;
                font-family: 'EB Garamond',serif;
                font-style: italic;
                font-size: 30px;
                margin-left: 30%;
                margin-bottom: 10px;"> Attorneys</h1>
                <span style="color: #999999;
                font-size: 20px;
                margin-left: 27%; "> Expert Attorneys</span>
            </div>
            <div class="col-3-box4">
                 <i class="far fa-thumbs-up"  style="color:#aa9166 ;color: #aa9166;
                 font-size: 40px;
                 margin-left: 45%;
                 margin-top: 30px;
                 margin-bottom: 15px; "></i>
                 <h1 style="color: #FFF;
                 font-family: 'EB Garamond',serif;
                 font-style: italic;
                 font-size: 30px;
                 margin-left: 35%;
                 margin-bottom: 10px;"> Success</h1>
                <span style="color: #999999;
                font-size: 20px;
                margin-left: 27%;"> 99.99% Case Won</span>
                </div>
            <div class="col-3-box4">
                <i class="far fa-handshake" style="color:#aa9166 ;color: #aa9166;
                font-size: 40px;
                margin-left: 45%;
                margin-top: 30px;
                margin-bottom: 15px; " ></i> 
                <h1 style="color: #FFF;
                font-family: 'EB Garamond',serif;
                font-style: italic;
                font-size: 30px;
                margin-left: 37%;
                margin-bottom: 10px;"> Support</h1>
                <span style="color: #999999;
                font-size: 20px;
                margin-left: 34%; ">Quick Support</span>
            </div>
        </div>
    </div>
</div>
<!--box4-main end-->
<!--box5-text-img start-->
<div class="box5-text-img">
    <div class="box5-text-img-container">
        <div class="box5-text-img-row">
            <div class="col-5-box5-text-img">
                <img src="../phto/about.jpg" alt="office users" style="border: 8px solid black;width: 425px;
                height: 385px " >
            </div>
            <div class="col-7-box5-text-img">
                
                <h2>Learn About Us</h2>
                
                <p style="font-size: 16px;
                margin-bottom: 30px;text-align: left;
    line-height: 1.2 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi.<br> Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida <br>condimentum, viverra quis sem</p>
                <p style="font-size: 16px; text-align: left;
                line-height: 1.2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi.<br> Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida <br>condimentum, viverra quis sem. <br> Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida <br>condimentum, viverra quis sem</p></p>
                <a class="col-7-box5-text-img-button" href="#">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!--box5-text-img end-->
<!--box6-main start-->
<div class="box6-main">
    <div class="box6-main-container">
        <h2 style="font-family: 'EB Garamond',serif; text-align: center;">Our Practices Areas</h2>
        <div class="box6-main-row">
            <div class="col-4-box6-main-row" style="margin-right: 20px;" >
                <i class="fas fa-landmark"></i> 
                <h3>Civil Law</h3>
                <p> Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non</p>
                <a class="button" href="#">Learn More</a>
            </div>
            <div class="col-4-box6-main-row"  style="margin-right: 20px;">
                <i class="fas fa-users"></i>
                <h3>Civil Law</h3>
                <p> Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non</p>
                <a class="button" href="#">Learn More</a>
            </div>
            <div class="col-4-box6-main-row">
                <i class="fas fa-hand-holding-usd"></i>
                <h3>Civil Law</h3>
                <p> Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non</p>
                <a class="button" href="#">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!--box6-main end-->
<!--box7-main start-->
<div class="box7-main">
    <div class="box7-main-container">
        <div class="box7-main-row">
            <div class="col-4-box7-main-row" style="margin-right: 20px;">
                <i class="fas fa-graduation-cap"></i>
                <h3>Civil Law</h3>
                <p> Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non</p>
                <a class="button" href="#">Learn More</a>
            </div>
            <div class="col-4-box7-main-row"  style="margin-right: 20px;">
                <i class="fas fa-gavel"></i>
                <h3>Civil Law</h3>
                <p> Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non</p>
                <a class="button" href="#">Learn More</a>
            </div>
            <div class="col-4-box7-main-row">
                <i class="fas fa-globe"></i>
                <h3>Civil Law</h3>
         <p> Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non</p>
         <a class="button" href="#">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!--box7-main end-->
<!--box8-main start-->
<div class="box8-main">
    <div class="box8-main-container">
        <div class="box8-main-row">
            <div class="col-8-box8">
                <H2 style="text-align: center;">Why Choose Us</H2>
                <div class="ikon" style="margin-bottom: 20px;"><i class="fas fa-gavel"></i> </div>
                <h3 style=" margin-right: 22% ">Best law practices </h3>
                <p>Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. </p>
                <div class="ikon" style="margin-bottom: 20px;"><i class="fas fa-balance-scale"></i></div>
                <h3 style="  margin-right: 20%">Efficiency & Trust </h3>
                <p>Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. </p>
                <div class="ikon"><i class="far fa-smile"></i></div>
                <h3 style="  margin-right: 19%"> Results you deserve</h3>
                <p>Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. </p>
            </div>
            <div class="col-4-box8">
            <img src="../phto/feature.jpg" alt="" style="width: 425px; height: 715px;" >
            </div>
        </div>
    </div>
</div>
<!--box8-main end-->
<!--box9-main start-->
<div class="box9-main">
    <div class="box9-main-container">
        <h3 style="text-align: center;">Meet Our Expert Attorneys</h3>
        <div class="box9-main-row">
            <div class="box9-col-3">
<img src="../phto/team-1.jpg" alt="" style="width: 245px; height: 297.5px;font-size: 1rem; line-height: 1.5;text-align: left; " >
            <div class="box-9-texts"><h2>Adam Phillips</h2>
                <p>Business Consultant </p></div>
            <div class="social-button">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            </div>
            <div class="box9-col-3">
<img src="../phto/team-2.jpg" alt="" style="width: 245px; height: 297.5px;">
<div class="box-9-texts"><h2>Dylan Adams</h2>
    <p>Criminal Consultant </p></div>
            <div class="social-button">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
</div>
            <div class="box9-col-3">
<img src="../phto/team-3.jpg" alt="" style="width: 245px; height: 297.5px; ">
<div class="box-9-texts"><h2>Gloria Edwards</h2>
    <p>Divorce Consultant </p></div>
            <div class="social-button">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>  
</div>
            <div class="box9-col-3">
<img src="../phto/team-4.jpg" alt="" style="width: 245px; height: 297.5px;">
<div class="box-9-texts"><h2>Josh Dunn</h2>
    <p>Immigration Consultant </p></div>
            <div class="social-button">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
</div>
        </div>
    </div>
</div>
<!--box9-main end-->
<!--box10-main start-->
<div class="box10-main">
    <div class="box10-container">
        <div class="box10-row">
            <div class="col-5-box10">
                <img src="../phto/faqs.jpg" alt="" style="width: 100%; height: 100%; object-fit: cover;vertical-align: middle; border-style: none; ">
            </div>
            <div class="col-7-box10">
                <div class="box10-h2">
                    <h2>Have A Questions?</h2>
                </div>
<div class="box10-list">
<div class="list"><a class="list-a" href="#"><span>1</span>lorem ipsum dolor sit amet</a>
<div class="list"> <a class="list-a" href="#"><span>2</span>lorem ipsum dolor sit amet</a>
<div class="list"> <a class="list-a" href="#"><span>3</span>lorem ipsum dolor sit amet></a>
<div class="list"> <a class="list-a" href="#"><span>4</span>lorem ipsum dolor sit amet</a>
<div class="list"> <a class="list-a" href="#" style="border-bottom: 1px solid #aa9166;"><span>5</span>lorem ipsum dolor sit amet</a>
</div>
<div class="btn-box10">
    <a class="btn" style="color: #aa9161;" href="#">ASK MORE</a>
</div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
<!--box10-main end-->
<!--box11-main start-->
<div class="box11-main">
    <div class="box11-container">
        <h3>Review From Client</h3>
        <div class="box11-row">
            <div class="col-4-box11">
                <div class="col-3">
<img src="../phto/testimonial-1.jpg" alt="">
                </div>
                <div class="col-9">
                 <h2>Client Name</h2>
<p>Profession</p>
                </div>
                <div class="col-12">
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan lacus eget velit</p>   
                </div>
            </div>
            <div class="col-4-box11">
                <div class="col-3">
                 <img src="../phto/testimonial-2.jpg" alt="">   
                </div>
                <div class="col-9">
                    <h2>Client Name</h2>
<p>Profession</p>
                </div>
                <div class="col-12">
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan lacus eget velit</p> 
                </div>
            </div>
            <div class="col-4-box11">
                <div class="col-3">
<img src="../phto/testimonial-3.jpg" alt="">
                </div>
                <div class="col-9">
<h2>Client Name</h2>
<p>Profession</p>
                </div>
                <div class="col-12">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan lacus eget velit</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--box11-main end-->
</body>
</html>