* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
  body {
      align-items: center;
      background-color: #010c0f;
      display: flex;
      font-family: 'Poppins', sans-serif;
      justify-content: center;
      min-height: 100vh;
  }
  
  .accordion {
      max-width: 700px;
  }
  
  .content-box {
      margin: 10px 20px;
      position: relative;
  }
  .content-box .label {
    background-color: #2694af;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    position: relative;
}

  .content-box .label:before {
      content: '+';
      font-size: 1.5rem;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
  }
  
  .content-box.active .label:before {
      content: '-';
  }
  
  .accordion .content-box .content {
      background-color: #ffffff;
      height: 0;
      overflow-x: hidden;
      overflow-y: auto;
      position: relative;
      transition: height 0.5s ease,padding 0.5s;
      
  }
  
  .accordion .content-box.active .content {
      height: 150px;
      padding: 10px;
  }