* {
  margin: 0;
  padding: 0;
}
body{
  background: darkcyan;
}
.image-slider {
  width: 500px;
  margin: 0 auto;
  background: cadetblue;
  border-radius: 30px;
  margin-top: 200px;
}
.image-slider img {
  margin-left: 136px;
  margin-top: 20px;
  border-radius: 126px;
}
.button {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-left: 50px;
}
button {
  padding: 5px 25px;
  background: burlywood;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 20px;
  transition: background 0.5s;
}
button:hover {
  background-color: rgb(58, 4, 4);
}
