<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css" />
    <title>Admin</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a style="color:yellow; font-size:20px" href="/create" class="choose-btn nav-link">Elave et</a>
                    </li>
                    <li class="nav-item">
                        <a style="color:grey; font-size:20px" href="/show" class="choose-btn nav-link">Show</a>
                    </li>
                    <li class="nav-item">
                        <a style="color:red; font-size:20px" href="/admin" class="choose-btn nav-link">SHAKO (Admin)</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table ">
                    <thead>
                        <tr>
                            <th scope="col">ad</th>
                            <th scope="col">shair</th>
                            <th scope="col">tarix</th>
                            <th scope="col">sehife</th>
                            <th scope="col">metn</th>
                            <th scope="col">Delete</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for kitab in Kitablar %}
                        <tr>
                            <td>{{kitab.ad}}</td>
                            <td>{{kitab.shair}}</td>
                            <td>{{kitab.tarix}}</td>
                            <td>{{kitab.sehife}}</td>
                            <td>{{kitab.metn}}</td>
                            <td><button class="btn btn-primary"><a href="/delete/{{kitab.id}}" class="choose-btn">Delete</a></button></td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>