<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col mt-4">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/create">elave et</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/show">kitablarin_siyahisi</a>
                </li>
            </ul>
            <table class="table">
    <thead>
    <tr>
        <th>Muellifi : | {{muellif}}</th>
        <th>Kitabin adi : | {{ad}}</th>
        <th>Kitabin tarixi : | {{tarix}}</th>
        <th>Kitabin sehifesi : | {{sehife}}</th>
    </tr>
    </thead>
    <tbody>
        {% for book in kitablarin_siyahisi %}
        <tr>
            <td>{{ book['muellif'] }}</td>
            <td>{{ book['ad'] }}</td>
            <td>{{book['tarix']}}</td>
            <td>{{book['sehife']}}</td>
            <td><a class="nav-link" href="#">kitabi oxu</a></td>
        </tr>
        {% endfor %}


    </tbody>
</table>
        </div>
    </div>
</div>

</body>
</html>